.container {
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  .form input {
    margin: 5px;
    padding: 10px;
    width: 200px;
  }
  
  button {
    margin: 5px;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #424242;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 2px solid #000000;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #ffffff;
  }
  
 
  
  .edit-form {
    margin-top: 20px;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .edit-form input {
    margin: 5px;
    padding: 8px;
    width: 200px;
  }
  
  .edit-form button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
  }
  